<?xml version="1.0"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v1.1.4322"/>
    <supportedRuntime version="v1.0.3705"/>
  </startup>

  <runtime>
  <loadFromRemoteSources enabled="true"/>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<probing privatePath="dll"/>
      <dependentAssembly>
        <assemblyIdentity name="SlimDX"
                          version="1002.0.10.43"
                          publicKeyToken="53d0e4ef1f1579f5"
                          culture="neutral" />
        <codeBase version="1002.0.10.43"
          href="dll\SlimDXc_net20x86_Jun2010.dll"/>
</dependentAssembly>
      </assemblyBinding>
	</runtime>
</configuration>
